<!DOCTYPE html>
<html>
    <head>
        <title>ATIVIDADE WEB</title>
        <meta charset='UTF-8'/>
        <style>
            *{font-family: 'Franklin Gothic Medium',
             'Arial Narrow', Arial, sans-serif;}
             .icon{
                 width: 50px;
                 height: 50px;
                 
             }
             #gotoIndex{text-align: center;}
             #divContato{/*background-color:aliceblue;*/
                        text-align: center;
                        }          
        </style>
    </head>

    <body>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
            <hr>
        </div>
        
        <div id='divContato' >
            <table align="center" border='1'>
                <tr id='tabHead3'>
                    <th><strong>Nome</strong></th>
                    <th><img src='../tel.png' width="50" height="50">        </th>
                    <th><img src='../email.png' width="50" height="30">        </th>
                    <th><img src='../ende.png' width="50" height="50">        </th>
                    
                </tr>
                <tr id='cttAluno1'>
                    <td align="center"><h4><em>Luis Gomes Damasceno Neto</em></h4></td>
                    <td align="center"><h4><em>(88)9 8888-8888</em></h4></td>
                    <td align='center'><h4><em>Luis.neto2811@alu.ufc.br</em></h4></td>
                    <td align='center'><h4><em>Rua Oscar Barbosa, Centro - Quixadá - Ceará - Brasil</em></h4></td>
                    
                </tr>
            </table>
        </div>
        <hr>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
        </div>


        
    </body>
    
</html>

