<!DOCTYPE html>
<html>
    <head>
        <title>ATIVIDADE WEB</title>
        <meta charset='UTF-8'/>
        <style>
            *{font-family: 'Franklin Gothic Medium',
             'Arial Narrow', Arial, sans-serif;}
             .icon{
                 width: 50px;
                 height: 50px;
                 
             }
             #gotoIndex{text-align: center;}
             #divHistorico{/*background-color:rgb(255, 240, 240);*/
                        text-align: center;
                        }    
             
        </style>
    </head>

    <body>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
            <hr>
        </div>
        
        <div id='divHistorico'>
            
                <table align='center' border='1'>
                    
                    <tr id='tabHead'>
                        <th><h4><strong>Nome</strong></h4></th>
                        <th><h4><strong>Escolaridade</strong></h4></th>
                        <th><h4><strong>Histórico Profissional </strong></h4></th>
                    </tr>
                    <tr id='tabAluno1'>
                        <td><em>Luis Gomes Damasceno Neto</em></td>
                        <td align="center">
                            <ul>
                            <li>Ensino médio completo<br>
                                <em>EEM Julia Alenquer Fontenele</em>
                            </li>
                            <li>Graduação em andamento<br>
                                <em>Universidade Federal do Ceará</em>
                            </li>
                            </ul>
                        </td>
                        <td align='center'>
                            <ul>
                                <li><h5>Auxiliar de padaria</h5>
                                    <p>Trabalhador informal, exerceu atividade por 02(DOIS) anos, de Janeiro de 2015 até Janeiro de 2018,<br>
                                         atua em todas as áreas da empresa, exceto padeiro</p>
                                </li>
                                <li><h5>Instrutor</h5>
                                    <p>Trabalhador informal, exerceu atividade por 01(UM) ano, de Janeiro de 2020 até a data atual,<br>
                                        leciona aulas de muay thai e treinos de condicionamento físico</p>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    


                    
        
                </table>













            
            
        </div>
        <hr>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
        </div>
    </body>
    
</html>

