<!DOCTYPE html>
<html>
    <head>
        <title>ATIVIDADE WEB</title>
        <meta charset='UTF-8'/>
        <style>
            *{font-family: 'Franklin Gothic Medium',
             'Arial Narrow', Arial, sans-serif;}
             .icon{
                 width: 50px;
                 height: 50px;
                 
             }
             #gotoIndex{text-align: center;}
        </style>
    </head>

    <body>
        <div id='gotoIndex'>
           <buttom><a href='../index.html' accesskey="v" target='_self' >Voltar ao início</a></buttom>
           <hr>
           <h2> <a href='./contato.html' target='_self' alt="ir a aba de contato">
               Luis Gomes Damasceno Neto - 428223</a></h2>
           <hr>
        </div>
       
        <div id='divInteresse'>
            <ul>
                <li>
                    <figure>
                        <img src='../db.png' width='100px' height="80px">
                        <figcaption><a href='https://www.oracle.com/br/database/what-is-database/#link2'
                             target="_blank" accesskey="b" >Banco de dados</a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src='../web.png' width='100px' height="80px">
                        <figcaption><a href='https://www.digitalhouse.com/br/blog/guia-de-desenvolvimento-web-tudo-o-que-voce-precisa-saber-antes-de-comecar-a-programar'
                            target='_blank' accesskey="w"> Desenvolvimento web</a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src='../ingles.png' width='100px' height="80px">
                        <figcaption><a href='https://www.uptime.com.br/blog/5-vantagens-de-ser-um-profissional-com-ingles-fluente'
                            target='_blank' accesskey="e">Fluência em inglês </a></figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src='../luta.jpg' width='100px' height="80px">
                        <figcaption><a href='https://globoesporte.globo.com/eu-atleta/noticia/o-que-e-muay-thai-historia-da-luta-e-beneficios-do-treinamento-de-boxe-tailandes.ghtml'
                            target='_blank' accesskey="l">Lutar profissionalmente</a></figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <hr>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
        </div>
    </body>
    
</html>

