<!DOCTYPE html>
<html>
    <head>
        <title>ATIVIDADE WEB</title>
        <meta charset='UTF-8'/>
        <style>
            *{font-family: 'Franklin Gothic Medium',
             'Arial Narrow', Arial, sans-serif;}
             .icon{
                 width: 50px;
                 height: 50px;
                 
             }
             #gotoIndex{text-align: center;}
             #divRedesocial{text-align: center;}
        </style>
    </head>

    <body>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
            <h2> <a href='./contato.html' target='_self' alt="ir a aba de contato">
            Luis Gomes Damasceno Neto - 428223</a></h2>
            <hr>
        </div>
        
        <div id='divRedesocial'>
            
                <table align="center" border="1">
                    <tr>
                        <th> 
                            <figure>
                                <img src='../zap.png' width="50" height="50">
                                <figcaption>(88) 9 8888-8888</figcaption>
                            </figure>
                        </th>

                        <th>
                            <figure>
                                <img src='../tg.png' width="50" height="50">
                                <figcaption>(85) 9 9999-9999</figcaption>
                            </figure>   
                        </th>

                        <th>
                            <figure>
                                <img src='../discord.png' width="50" height="50">
                                <figcaption>lusitu#3840</figcaption>
                            </figure>
                        </th>

                        <th>
                            <figure>
                                <img src='../ig.png' width="50" height="50">
                                <figcaption><a href='https://www.instagram.com/_lusigmes/?hl=pt-br'
                                    target="_blank">@lusigmes</a></figcaption>
                            </figure>
                        </th>

                        <th>
                            <figure>
                                <img src='../tt.png' width="50" height="50">
                                <figcaption><a href='https://twitter.com/home' target='_blank'>@lusigmes_</a></figcaption>
                            </figure>
                        </th>
                        
                        <th>
                            <figure>
                                <img src='../git.png' width="50" height="50">
                                <figcaption><a href='https://github.com/Lusigmes' target='_blank'>lusigmes</a></figcaption>
                            </figure>
                        </th>
                    </tr>

                </table>
               
        </div>
        <hr>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
        </div>
    </body>
    
</html>

