<!DOCTYPE html>
<html>
    <head>
        <title>ATIVIDADE WEB</title>
        <meta charset='UTF-8'/>
        <style>
            *{font-family: 'Franklin Gothic Medium',
             'Arial Narrow', Arial, sans-serif;}
             .icon{
                 width: 50px;
                 height: 50px;
                 
             }
             #gotoIndex{text-align: center;}
             #divRedesocial{/*background-color:rgb(41, 158, 18);*/
                        text-align: center;
                        }    
            
        </style>
    </head>

    <body>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
            <hr>
        </div>
        
        <div id='divRedesocial'>
            
                <table align="center" border='1'>
                    <tr id='tabHead2'>
                        <th><strong>Nome</strong></th>
                        <th><img src='../zap.png' width="50" height="50">        </th>

                        <th><img src='../tg.png' width="50" height="50">                  </th>
                        <th> <img src='../discord.png' width="50" height="50">           </th>

                        <th><img src='../ig.png' width="50" height="50">       </th>
                        <th><img src='../tt.png' width="50" height="50">     </th>
                        <th><img src='../git.png' width="50" height="50">         </th>
                        
                    </tr>
                    <tr id='rslAluno1'>
                        <td align="center"><em>Luis Gomes</em></td>
                        <td align="center"><em>(88)9 8888-8888</em></td>
                        <td align="center"><em>(85)9 9999-9999</em></td>
                        <td align="center"><em>lusitu#3840</em></td>
                        <td align="center"><em><a href='https://www.instagram.com/_lusigmes/?hl=pt-br'
                            target="_blank">@lusigmes</a></em></td>
                        <td align="center"><em><a href='https://twitter.com/home' target='_blank'>@lusigmes_</a></em></td>
                        <td align="center"><em><a href='https://github.com/Lusigmes' target='_blank'>lusigmes</a></em></td>
                        
                    </tr>

                </table>
               
        </div>
        <hr>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
        </div>
    </body>
    
</html>

