#imgFundo{
    background-image: url('../pages/luta.jpg');
    
}
#bord1{
    background-color:mediumslateblue ;
    height: 140mm;
    width: 30%;
    padding: 0.3cm;
    margin:auto   ;
    opacity:0.7;
    font-family: cursive;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888;
}