<!DOCTYPE html>
<html>
    <head>
        <title>ATIVIDADE WEB</title>
        <meta charset='UTF-8'/>
        <style>
            *{font-family: 'Franklin Gothic Medium',
             'Arial Narrow', Arial, sans-serif;}
             .icon{
                 width: 50px;
                 height: 50px;
                 
             }
             #gotoIndex{text-align: center;}
             #divContato{background-color:aliceblue;
                        text-align: center;
                        }
        </style>
    </head>

    <body>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
            <h2> <a href='#' target='_self' alt="ir a aba inicial">
            Luis Gomes Damasceno Neto - 428223</a></h2>
            <hr>
        </div>
        
        <div id='divContato' >
            <dl>
                <h3><dd>Telefone</dd></h3>
                    <h4><dt><em>(88)9 8888-8888</em></dt></h4>
                <h3><dd>E-mail</dd></h3>
                    <h4><dt><em>Luis.neto2811@alu.ufc.br</em></dt></h4>
                <h3><dd>Endereço</dd></h3>
                    <h4><dt><em>Rua Oscar Barbosa, Centro - Quixadá - Ceará - Brasil</em></dt></h4>
            </dl>
        </div>
        <hr>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
        </div>
    </body>
    
</html>

