<!DOCTYPE html>
<html>
    <head>
        <title>ATIVIDADE WEB</title>
        <meta charset='UTF-8'/>
        <style>
            *{font-family: 'Franklin Gothic Medium',
             'Arial Narrow', Arial, sans-serif;}
             .icon{
                 width: 50px;
                 height: 50px;
                 
             }
             #gotoIndex{text-align: center;}
        </style>
    </head>

    <body>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
            <h2> <a href='./contato.html' target='_self' alt="ir a aba de contato">
            Luis Gomes Damasceno Neto - 428223</a></h2>
            <hr>
        </div>
        
        <div id='divHistorico'>
            <h2>Escolaridade</h2>
            <ul>
                <li>Ensino médio completo<br>
                    <em>EEM Julia Alenquer Fontenele</em>
                </li>
                <li>Graduação em andamento<br>
                    <em>Universidade Federal do Ceará</em>
                </li>
            </ul>
            <hr>
            <h2>Histórico profissional</h2>
            <ul>
                <li><h3>Auxiliar de padaria</h3>
                    <p>Trabalhador informal, exerceu atividade por 02(DOIS) anos, de Janeiro de 2015 até Janeiro de 2018,<br>
                         atua em todas as áreas da empresa, exceto padeiro</p>
                </li>
                <li><h3>Instrutor</h3>
                    <p>Trabalhador informal, exerceu atividade por 01(UM) ano, de Janeiro de 2020 até a data atual,<br>
                        leciona aulas de muay thai e treinos de condicionamento físico</p>
                </li>
            </ul>
            
        </div>
        <hr>
        <div id='gotoIndex'>
            <buttom><a href='../index.html' accesskey="v" target='_self'>Voltar ao início</a></buttom>
            <hr>
        </div>
    </body>
    
</html>

