
<!DOCTYPE html>
<html>


    <head>
        <title>ATIVIDADE 2 WEB</title>
        <meta charset="UTF-8">
        <style>
            
        </style>
    </head>
    <body>
        <div id='divHead' align='center'>
            <h2> <a href='#' target='_self'>
                Luis Gomes Damasceno Neto - 428223</a></h2>
        </div>
        <hr>
        <div id='divDelete'>
            <h2 align='center' style="color: orangered;">Deletar produto</h2>
            <form id='formDelete' align='center' style=' background-color: aliceblue;'>
                <fieldset  >
                    <input type="text" id='idProduto' placeholder="Digite a ID do produto">
                    <input type="button" id='btnDelete' value='Excluir'>
                </fieldset>
            </form>
      </div>
      <div id='divBack' align='center'>
          <buttom ><a href="../index.html">Voltar</a></buttom>
      </div>
    </body>
    <script src='../JS/localstorage.js'></script>


</html>